@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit&display=swap');

@layer base {
  body {
      @apply font-[Kanit];
  
  }
}



::-webkit-scrollbar{
  width: 10px;
  background: #f0f0f0;
  border-radius: 1.9rem;
}


::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: grey;
}

body{
  background: linear-gradient(180.06deg, rgba(8, 151, 255, 0.93) -8.52%, rgba(235, 180, 10, 0) 110.91%);
  font-family: 'kanit' sans-serif;

}


form i {
  position: relative;
  right: 50px;
  cursor: pointer;
}

.btn{
  background: linear-gradient(89.95deg, #F6AC00 -12.08%, #F6AC00 -1.86%, #F6AC00 19.21%, #F6AC00 53.05%, #F6AC00 110.51%);

}



.img1 img{
  position: relative;
 left: 91.5%;
 right: 0%;
}

@media (max-width: 991px) {
  
  .img1 img{
    left: 85%;
    right: 0;
  }
}

@media (max-width: 567px) {
  .img1 img{
    display: none;
  }
}

@media (max-width: 395px) {
 .dev_content p{
  width: 300px;
 }
}