@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit&display=swap');

@layer base {
  body {
      @apply font-[Kanit];
  
  }
}



::-webkit-scrollbar{
  width: 10px;
  background: #f0f0f0;
  border-radius: 2rem;
}


::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: grey;
}

body{
  background: #D4DFE7;
  font-family: 'kanit' sans-serif;

}


